@import '../scss-variables/colours.scss';
@import '../scss-variables/breakpoints.scss';

:host{
    width: 80%;
    height: 112px;
    background-color: $grey-100;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

    .logo{
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
    }

    button{
        display: block;
        height: 40px;
        width: 120px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-family: 'Open Sans', sans-serif;
    }
}

@media (min-width: ($bp-desktop + 1px)) and (max-width: $bp-desktop-medium){
    :host{
        width: 90%;
        padding: 0 5%;
    }
}

//tablet & large screen
@media (min-width: ($bp-mobile + 1px)) and (max-width: $bp-tablet) {
    :host{
        height: 80px;
        width: 90%;
        padding: 0 5%;

        .logo{
            font-size: 24px;
        }
    }
}

//mobile 
@media only screen and (max-width: $bp-mobile) {
    :host{
        width: 90%;
        padding: 0 5%;
        height: 60px;

        .logo{
            font-size: 24px;
        }
    }
}