@import '../scss-variables/breakpoints.scss';

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 10%;
    padding-top: 10vh;
}

@media (min-width: ($bp-desktop + 1px)) and (max-width: $bp-desktop-medium){
    :host{
        padding-top: 16vh;
    }
}

@media (max-width: $bp-desktop){
    :host{
        width: 90%;
        padding: 5%;
        padding-top: 10vh;
    }
}