:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 10%;
    padding-top: 10vh;
}

@media (min-width: 1025px) and (max-width: 1440px){
    :host{
        padding-top: 16vh;
    }
}

@media (max-width: 1024px){
    :host{
        width: 90%;
        padding: 5%;
        padding-top: 10vh;
    }
}