@import 'colours.scss';

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    &.dark-theme {
        color: #eee;
        background-color: #252222;

        header{
            background-color:  #363232;
        }

        .random-blob{
            filter: brightness(0.2);
        }

        button{
            background-color: #585151;
            color: #eee;
        }

        span.highlight{
            background-color: #F9812A;
        }
    }

    &.light-theme {
        background-color: $grey-100;
        color: #222;

        header{
            background-color: #eee;
        }

        button{
            background-color: #eee;
            color: #585151;
        }
    }
}

span.highlight{
    background-color: $brand-yellow;
}