.mockdata-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1502px;
    align-items: center;
    margin-bottom: 120px;

    img{
        width: 750px;
        height: 636px;
        border-radius: 150px;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100%;
        margin-left: 20px; 
        
        .text-details{
            position: absolute;
            max-width: 640px;
            top: 30%;

           
        }

        .random-blob{
            display: block;
            width: 540px;
            height: auto;
            position: relative;
        }
    }

    &:nth-of-type(even){
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 20px;
    }

    &:first-of-type,
    &:nth-of-type(2){
        .text-container{
            .text-details{
                h2{
                    overflow-wrap: break-word;
                    width: 65%;
                }
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .mockdata-container,
    .mockdata-container:nth-of-type(even){
        max-width: 1024px;
        margin-bottom: 20px;
    
        &:nth-of-type(2){
            .text-container{
                .text-details{
                    h2{
                        overflow-wrap: break-word;
                        width: 100%;;
                    }
                }
            }
        }
    
        img{
            width: 420px;
            height: 360px;
        }
    
        .text-container{
            .text-details{
                max-width: 420px;
                top: 30%;
            }
    
            .random-blob{
                max-width: 420px;
            }
        }
    }
}



//mobile 
@media only screen and (max-width: 768px) {
    .mockdata-container,
    .mockdata-container:nth-of-type(even){
        flex-direction: column;
        max-width: 768px;
        margin-bottom: 20px;
    
        &:nth-of-type(2){
            .text-container{
                .text-details{
                    h2{
                        overflow-wrap: break-word;
                        width: 100%;;
                    }
                }
            }
        }
    
        img{
            width: 420px;
            height: 360px;
        }
    
        .text-container{
            .text-details{
                max-width: 420px;
                top: 16%;
            }
    
            .random-blob{
                max-width: 420px;
            }
        }
    }
}