/* You can add global styles to this file, and also import other style files */
@import './app/scss-variables/colours.scss';

html {
    scroll-behavior: smooth;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    &.dark-theme {
        color: $grey-200;
        background-color: $grey-800;

        header{
            background-color:  $grey-700;
        }

        .random-blob{
            filter: brightness(0.2);
        }

        button{
            background-color: $grey-600;
            color: $grey-200;
        }

        span.highlight{
            background-color: $orange-600;
        }
    }

    &.light-theme {
        background-color: $grey-100;
        color: $grey-900;

        header{
            background-color: $grey-200;
        }

        button{
            background-color: $grey-200;
            color: $grey-600;
        }
    }

    app-root {
        height: 100%;
        width: 100%;
        padding: 10%;
    }
}

span.highlight{
    background-color: $brand-yellow;
}